@import "tailwindcss";

.participa-btn {
  @apply bg-[#0B80C1] text-white font-semibold text-lg md:text-xl
         rounded-full px-12 py-5 shadow-lg hover:bg-[#062D5B]
         hover:shadow-xl transition-all duration-300 transform
         hover:-translate-y-[2px] focus:outline-none focus:ring-4
         focus:ring-[#0B80C1]/40;
}

.participa-container {
  @apply w-full flex items-center justify-center py-12 bg-[#055190] gap-[5px];
}

.btn-secondary-yellow {
  background: #EBB351;
  color: #061225;
}